/*
    Document   : app.css
    Created on : 14.11.2013, 15:08:28
    Author     : Ivan
    Description: 
*/

body
{
	font-family: Geneva,"Courier New","Helvetica Neue",Helvetica,Georgia,Arial,sans-serif;
	/* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;  */
}

div.row
{
	/* bootstrap row: отступ в лево, для корневого елемента сбрасывается в 0px */
	margin-left: 0px;
}

div.span4
{
	/* bootstrap span4: отступ в лево, для всех объектов span4 сбрасывается в 0px 
	тем самым умешьшается горизонтальное расстояние между таблицами*/
	margin-left: 10px;
}
.table-bordered
{
	/* bootstrap table: для таблицы класса table-bordered удирается радиус закругления по углам в 0px */
	/*border-radius: 0px;*/
}
.table
{
	/* bootstrap table: задается размер шрифта для всего текста в объектах класса table*/
	/*font-size: 6pt;*/ /* px*/

	/*text-align: center;*/
	/*margin-top: 0px;*/

	/*bootstrap table: сбрасывание нижней границы отступа для всех таблиц*/
	/* margin-bottom: 0px;*/
	/* FireFox: 0px */
	/* Chrome: -    */

	border: 1px solid #797979; /* Граница между ячейками */
}
.table th
{
	/*Задание цвета фона для заголовочных строк в таблицах*/
	background-color: #E4E4E4;
	
	/*Выравнивание надписей в заголовочной строке по горизонтали и цетре по вертикали*/
	text-align: center;
	vertical-align: middle;

	/*задание одинаковой высоты для всех заголовочных строк в таблицах */
	/* height: 40px; */
	/*уплотнение растояния между строк для всех заголовочных строк в таблицах*/
	line-height: 1.2em;

	border: 1px solid #797979; /* Граница между ячейками */

}
.table td
{
	/*Задание цвета фона для обычных (не заголовочных) строк в таблицах*/
	/*background-color: #E9FDEF;
	/*border-color: #808080;*/
	
	/*Выравнивание надписей в обычных строках таблицы по правому краю и в центре по вертикали*/
	/*text-align: inherit;*/
	vertical-align: middle;
	
	/*уплотнение растояния между строк для обычных (не заголовочных) строк в таблицах*/
	line-height: 1.2em;

}

.table-bordered th, .table-bordered td {
    border-left: 1px solid #666666;
    border-right: 0px solid #333333;
    /*border-left: 1px solid #333333;
    border-left: 1px solid #333333;*/
}
.service_data
{
	/*Выравнивание надписей в обычных строках таблицы по правому краю и в центре по вертикали*/
	text-align: right;

	border-left: 1px solid #333333;
}

.tbl_first_row
{
	text-align: left;
	background-color: #9CFECD;
}

caption
{
	/* bootstrap table: уменьшение расстояния между надписью и телом таблицы*/
	/* margin-bottom: -10px; */
}
caption h6
{
	/* bootstrap table: смещение названия таблицы влево*/;
	text-align: left; 
}

.tbl_first_row
{
	/*Курсор на главной строке в каждой таблице*/
	/* временно отключен */
	cursor: pointer;

}

#tbl_header_autorization, #tbl_header_statistica, #tbl_header_balancer, #tbl_header_metagen, #tbl_header_NASdownload,
	#tbl_header_proxy , #tbl_header_NASvod
{
	/* Ширина первой колонки в таблице*/
	width: 30%;
	
}
#tbl_header_NASupload
{
	/* Ширина первой колонки в таблице*/
	width: 25%;
}

.None
{
	background-color: #D3D3D3;	
}
.Free
{
	background-color: #E9FDEF;
}
.Stable
{
	background-color: #00C20F;
}
.Busy
{
	background-color: #FECB2E;
}
.Error
{
	background-color: #F94854; /*FC0D1B;*/
}
/*

tbl_header_autorization
tbl_header_statistica
tbl_header_NASdownload
tbl_header_metagen
tbl_header_balancer

tbl_header_proxy
tbl_header_NASvod
tbl_header_NASupload

background-color: #FFFFFF;	(SM: None	)	(bootstrap:	)
background-color: #E9FDEF;	(SM: Free	)	(bootstrap: .info		Голубой	D9EDF7)
background-color: #00C20F;	(SM: Stable	)	(bootstrap: .success 	Зеленый	DFF0D8)
background-color: #FECB2E;	(SM: Busy	)	(bootstrap: .warning	Желтый	FCF8E3)
background-color: #FC0D1B;	(SM: Error	)	(bootstrap: .error		Красный	F2DEDE)
*/


