<!DOCTYPE html>
<!--
    Document   : index.html
    Created on : 14.11.2013, 10:38:25
    Author     : Ivan
    Description: Service monitoring
-->

<html  lang="ru" ng-app="ServiceMonitoringApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Мониторинг сервисов</title>
        <link rel="stylesheet" href="css/bootstrap.min.css"> <!--  media="screen"-->
        <link rel="stylesheet" href="css/app.css">
        <script src="lib/angular/angular.js"></script>
        <script src="lib/angular/angular-resource.min.js"></script>
        <script src="js/controllers.js"></script>
        <!--script type="text/javascript" src="js/jquery-1.8.0.min.js"></script>
        <script type="text/javascript" src="js/jquery.cookie.js"></script-->

    </head>
    <body ng-controller="ServiceMonitoringCtrl">
        <p></p>
        <div class="row">
            <div class="span1"></div>
            <div class="span7"><h5>Мониторинг сервисов (realtime)</h5></div>
            <div class="span6">
                <div class="row">
                    <div class="span3">
                        <select ng-model="selectedRegion">
                            <!--option selected="selected" value="all_1">Все регионы</option-->
                            <option ng-repeat="region in regions" value="{{region.name}}">{{region.caption}}</option>
                        </select>
                    </div>
                    <div class="span2">
                        <button id="showBtn" class="btn" type="button" >Отобразить</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span6">
                <table  class="table table-bordered table-condensed" >
                    <caption><h6>Авторизация</h6></caption>
                    <tbody>
                        <tr>
                            <th id="tbl_header_autorization">Сервис</th>
                            <th>Всего запросов в минуту</th>
                            <th>Одобренных запросов в минуту</th>
                            <th>Отклоненных запросов в минуту</th>
                        </tr>
                        <tr class="tbl_first_row" id="tab_1">
                            <td class="service_name" id='tab1_Service'>&nbsp;- Авторизация</td>
                            <td class="service_data">{{totalRequestCount}}</td>
                            <td class="service_data">{{trueAuthorizeCount}}</td>
                            <td class="service_data">{{falseAuthorizeCount}}</td>
                        </tr>
                        
                        <tr ng-repeat="service in services | filter:{service_type:'Authorize'} | filter:selectedRegion" class="{{service.state}} tab1_rows">
                            <td class="service_name"> {{service.name}}    </td>
                            <td class="service_data"> {{service.totalRequestCount}} </td>
                            <td class="service_data"> {{service.trueAuthorizeCount}} </td>
                            <td class="service_data"> {{service.falseAuthorizeCount}} </td>
                        </tr>
                    </tbody>
                </table>

                <table  class="table table-bordered table-condensed">
                    <caption><h6>Статистика</h6></caption>
                    <tbody>
                        <tr>
                            <th id="tbl_header_statistica">Сервис</th>
                            <th>Всего запросов в минуту</th>
                            <th>Добавленных данных в минуту</th>
                            <th>Запросов на получение статистики в минуту</th>
                        </tr>
                        <tr class="tbl_first_row">
                            <td>- Статистика</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Статистика 1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Статистика 2</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

                <table  class="table table-bordered table-condensed">
                    <caption><h6>NAS (Download)</h6></caption>
                    <!--thead>
                        <tr>
                            <th>Сервис</th>
                            <th>Соедине- ния</th>
                            <th>Трафик, ТБт</th>
                            <th>Количество скачанных файлов в минуту</th>
                            <th>Объем скачанных файлов в минуту</th>
                        </tr>
                    </thead-->
                    <tbody>
                        <tr>
                            <th id="tbl_header_NASdownload">Сервис</th>
                            <th>Соедине- ния</th>
                            <th>Трафик, ТБт</th>
                            <th>Колич-во скачанных файлов в минуту</th>
                            <th>Объем скачанных файлов в минуту</th>
                        </tr>
                        <tr class="tbl_first_row">
                            <td>- NAS (Download)</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>vs25 (Download)</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>vs26 (Download)</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

                <table  class="table table-bordered table-condensed">
                    <caption><h6>Метаген</h6></caption>
                    <!--thead>
                        <tr>
                            <th>Сервис</th>
                            <th>Всего запросов в минуту</th>
                            <th>Запросов на балансировку в минуту</th>
                        </tr>
                    </thead-->
                    <tbody>
                        <tr>
                            <th id="tbl_header_metagen">Сервис</th>
                            <th>Всего запросов в минуту</th>
                            <th>Запросов на балансировку в минуту</th>
                        </tr>
                        <tr class="tbl_first_row">
                            <td>-Метаген</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Метаген 1</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Метаген 2</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

                <table  class="table table-bordered table-condensed">
                    <caption><h6>Балансер</h6></caption>
                    <!--thead>
                        <tr>
                            <th>Сервис</th>
                            <th>Всего запросов в минуту</th>
                            <th>Количество объектов помещенных на сервера в минуту</th>
                            <th>Количество объектов удаленных с серверов в минуту</th>
                        </tr>
                    </thead-->
                    <tbody>
                        <tr>
                            <th id="tbl_header_balancer">Сервис</th>
                            <th>Всего запросов в минуту</th>
                            <th>Колич-во объектов помещенных на сервера в мин.</th>
                            <th>Колич-во объектов удаленных с серверов в мин.</th>
                        </tr>
                        <tr class="tbl_first_row">
                            <td>-Балансер</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Балансер 1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Балансер 2</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                </table>
            </div>
            
            <div class="span5">
                <table  class="table table-bordered table-condensed">
                    <caption><h6>Proxy</h6></caption>
                    <!--thead>
                        <tr>
                            <th>Сервис</th>
                            <th>Соединения</th>
                            <th>Трафик, ТБт</th>
                            <th>Время отдачи тестового фрагмента, ms</th>
                        </tr>
                    </thead-->
                    <tbody>
                        <tr>
                            <th id="tbl_header_proxy">Сервис</th>
                            <th>Соедине- ния</th>
                            <th>Трафик, ТБт</th>
                            <th>Время отдачи тестового фрагмента, ms</th>
                        </tr>
                        <tr class="tbl_first_row">
                            <td>-Proxy</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>vs7 (Proxy)</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>vs8 (Proxy)</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                         <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>hello</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="span5">
                <table  class="table table-bordered table-condensed">
                    <caption><h6>NAS (Video-On-Demand)</h6></caption>
                    <!--thead>
                        <tr>
                            <th>Сервис</th>
                            <th>Соединения</th>
                            <th>Трафик, ТБт</th>
                            <th>Время отдачи тестового запроса, ms</th>
                        </tr>
                    </thead-->
                    <tbody>
                        <tr>
                            <th id="tbl_header_NASvod">Сервис</th>
                            <th>Соедине- ния</th>
                            <th>Трафик, ТБт</th>
                            <th>Время отдачи тестового запроса, ms</th>
                        </tr>
                        <tr class="tbl_first_row">
                            <td>-NAS (VOD)</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>vs23 (VOD)</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>vs25 (VOD)</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>7777</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td>12.90</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="span7">
                <table  class="table table-bordered table-condensed">
                    <caption><h6>NAS (Upload)</h6></caption>
                    <!--thead>
                        <tr>
                            <th>Сервис</th>
                            <th>Соединения</th>
                            <th>Количество добавленных файлов в минуту</th>
                            <th>Объем добавленных файлов в минуту</th>
                            <th>Свободное место</th>
                        </tr>
                    </thead-->
                    <tbody>
                        <tr>
                            <th id="tbl_header_NASupload">Сервис</th>
                            <th>Соедине- ния</th>
                            <th>Колич-во добавленных файлов в мин.</th>
                            <th>Объем добавленных файлов в мин.</th>
                            <th>Свободное место</th>
                        </tr>
                        <tr class="tbl_first_row">
                            <td>-NAS (Upload)</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>vs25 (Upload)</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>vs26 (Upload)</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                         <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.app.js"></script>
    </body>
</html>